.login-main{
    width: 970px;
    height: 450px;
    border-radius: 10px;
    /* border: 1px solid gray; */
    flex:1;
    background-color: white;
    /* align-items: center; */
    /* justify-content: center; */
    box-shadow: 3px 3px 15px 2px #C1CACD ;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: row ;
}
/* html{
    flex: 1;
} */
.form-control{
    border: 0ch;
    border-bottom: 2px solid #D0D3D4;
    border-radius: 0px;
}
.form-control:focus{
    box-shadow: none;
}
/* body{
    justify-content: center;
    align-items: center;
    flex:1;
    flex-direction: row;
    text-align: center;
    padding-left: 18%;
    /* padding-top: 20%; */
    /* background-color: #EFEFEF  ; */

/* } */
.login-btn{
    height: 60px;
    width: 160px;
    background-color: #E2296A;
    box-shadow: 2px 2px 10px 3px #D0D3D4;
    border:0px;
    color: white;
    transform: translateX(-5px);
}
.login-btn:hover{
    background-color:rgb(160, 10, 63);
    color:rgb(207, 200, 200);
}
.form-group{
    flex-direction: row;
    align-items: flex-start;
}
.labels{
    margin-left: 0px;
    align-self: flex-start;
    color: rgb(169, 175, 177);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateX(-399px);
}
.div-icon{
    background-color: #E2296A;
    width: 105px;
    height: 110px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    align-content: center;
    transform: translateY(-40px);
    box-shadow: 2px 2px 10px 3px #D0D3D4;
    margin-right: 0px;
}
.env-icon{
    flex: 1;
    align-self: center;
    margin-top: 40%;
}
.email-label{
    margin-left: 40px;
}
.login-heading{
    color: rgb(127, 127, 128);
    margin: 0px;
    transform: translate(-260px,-90px);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.login-form-container{
    margin: 0px;
    transform: translate(8px,-67px);
}
.btn-signup{
    color: rgb(58, 60, 61);
    /* margin-right:40% ; */
    transform: translate(170px,-40px);
    width: 240px;
    height: 30px;
}
.remember-label{
    transform: translateX(-300px);
    color: rgb(151, 154, 155);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    justify-content: center;
    /* padding: 20x; */
}